html {
  margin: 0px;
  direction: rtl;
}
/* * News */
.news-contain {
  width: 460px;
  height: 440px;
  overflow: auto;
}
.news-header {
  text-align: center;
  font-family: "Lalezar", cursive;
  font-size: 40px;
  background-color: lightgray;
  margin: 0px;
  margin-bottom: 0px;
}
/* News Componnent */
.news-comp {
  border-style: solid;
  border-radius: 10px;
  width: 200px;
  height: 200px;

  margin-bottom: 10px;
  margin-right: 10px;
  background-size: cover;
  position: relative;
}

/* News Title */
.news-title {
  font-size: 23px;
  font-family: "Lalezar", cursive;
  margin-top: 0px;
  padding-right: 10px;

  position: absolute;
  bottom: 0;
  right: 0;
}

/* * Title colors */
#title-white {
  color: white;
}

#title-black {
  color: black;
}

#title-red {
  color: red;
}
